* {
  background: #FFE3D8;
  font-family: Inter;
  color: #2B1248;
}

body, html {
  height: auto;
  margin: 0;
}

/*      TechScoop Header      */

  .TechScoop-Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  }
  
  .Header-Title {
    width: 300px;
    height: 29px;
    margin-left: 30px;
    margin-right: 0px;
    color: #2B1248;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .Nav-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 1000px;
    color: #2B1248;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

.header-button {
  text-decoration: none;
}



li {
  margin-right: 53px;
}

.Hr-1 {
  border-top: 2px solid #2B1248;
  margin-left: 30px;
  margin-right: 30px;
}

 .article-title {
    background-color: #864E6B;
    text-align: center;
    color: #FEE3D8;
    font-size: 48px;
    font-family: Inter; 
    font-style: normal;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 20px;
   
  }
.About-techscoop {
  display: flex;
  align-items: center;
  background-color: #864E6B;
  margin: 0 30px 0 30px;
  height: 130px;
}

.p-about {
  font-size: 48px;
  margin: 0 0 0 70px;
  color: #FEE3D8;
  background-color: #864E6B;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.about-description {
  margin: 0 30px 20px 30px;
  padding: 0px 546px 20px 0px;
}

.p-description {
  color: #2B1248;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 70px;
}

.p-description2 {
  color: #2B1248;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 70px;
}

.p-description3 {
  color: #2B1248;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 70px;
}

.latest-post-card {
  border: 2px solid #2B1248;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;        
  max-width: 1000px;    
  height: auto;
  text-decoration: none; 
  color: inherit;        
  cursor: pointer;       
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.latest-post-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0px 10px 20px rgba(43, 18, 72, 0.2);
}

.latest-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

  .content-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
  }

.img-card {
  display: block;
  width: 100%;         
  height: auto;        
  object-fit: cover;   
}
  
.post-title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #2B1248;
  white-space: normal;     
  text-align: center;      
  padding: 0 15px;        
  line-height: 1.4;        
}

.about-us-team {
  color: #2B1248;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 20px;
}

.about-us-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-div {
  width: auto;
  text-align: center;
  display: grid;
  place-items: center;
}

.about-us-body {
  width: 280px;
  height: 290px;
  background: #D9D9D9;
  border: 1px solid #000;
  margin: 100px 50px 50px 50px;
}

.about-us-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #D9D9D9;
  width: 280px;
  height: 290px;
}

.about-us-pic {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  margin-top:  -45%;
}

.about-us-name {
  background-color: #D9D9D9;
  color: #2B1248;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.about-us-role {
  background-color: #D9D9D9;
  color: #2B1248;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  margin: 0 0 13px 0;
}

#facebook {
  background-color: #D9D9D9;
  color: #2B1248;
}

.fa-facebook-f {
  font-size: 16px;
  background: #D9D9D9;
}

.facebook {
  background-color: #D9D9D9;
}

.about-us-email {
  background-color: #D9D9D9;
  font-size: 13px;
}

/*      NEWS LETTER      */

.news-letter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 247px;
  margin: 0;
  padding: 0 150px;
  background: #E3B6B1;
}

.robot {
  background-color: #E3B6B1;
}

.news-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3B6B1;
}

.news-letter-2 {
  display: grid;
  place-items: center;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  background-color: #E3B6B1;
}

.news-letter-title {
  margin-bottom: 0;
  margin-top: 0;
  height: 32px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  background-color: #E3B6B1;
}

.news-letter-p {
  text-align: center;
  font-size: 12px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  background-color: #E3B6B1;
}

.fa-envelope {
  font-size: 49px;
  width: 60px;
  margin-bottom: 20px;
  background-color: #E3B6B1;
}

input[type="email"] {
  border: none;
  border-bottom: 1px solid #000;
  padding: 10px;
  margin-right: 10px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: #E3B6B1;
  margin-left: 20px;
  margin-right: 0;
}

.news-letter-button {
  border-radius: 0;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #E3B6B1;
}

/*    FOOTER      */

 .Hr-5 {
    border-top: 1px solid #FFE3D8;
    width: 520px;
  }
  
  .footer-techscoop {
    flex-direction: column;
    place-items: center;
    margin-top: 50px;
    background-color: #845162;
    color: #FFE3D8;
    padding: 20px 20px;
  }
  
  .nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    background-color: #845162;
  }
  
  .footer-p {
    color: #FFE3D8;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    background-color: #845162;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .page {
    background-color: #845162;
    text-decoration: none;
  }
  
  .fa-facebook-f, .fa-instagram, .fa-twitter, .fa-copyright {
    background-color: #845162;
    color: #FFE3D8;
  }
  
  .footer-icons {
    background-color: #845162;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    margin-top: 20px;
  }
  
  .title {
    background-color: #845162;
    color: #FFE3D8;
  }